// RESET //
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap')

*
  position: relative
  box-sizing: border-box
  font-family: "Noto Sans TC"
  >.container
    width: min(1200px, 100%)
  

html, body
  margin: 0
  padding: 0

.psuedo
  height: 64px