.psuedo
  #navbar
    .container
      .navbar_title 
        a(href="/") 台北一日遊
      .navbar_options
        .navbar_option 預定行程
        .navbar_option.sign 登入/註冊
        .navbar_option.signout.inactive 登出
script(src="{{ url_for('static', filename='/scripts/nav.js') }}")
