//- #loading.bounce
#loading.bounce.active
  span n
  span o
  span w 
  span &nbsp;
  span l
  span o
  span a
  span d
  span i
  span n
  span g
  span .
  span .
  span .

script(src="{{ url_for('static', filename='/scripts/nowLoading.js') }}" type="module")