@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@media screen and (max-width: 1279px) {
  * > .container {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 1080px) {
  #page-index #main .container .content {
    display: flex;
    justify-content: flex-start;
    gap: 25px 25px;
    flex-wrap: wrap;
  }
  #page-index #main .container .content .block {
    width: calc(((100% - (3 - 1) * 25px)) / 3);
  }
}
@media screen and (max-width: 700px) {
  #page-attraction .psuedo {
    margin: 0;
  }
  #page-attraction #main .container {
    display: block;
    gap: 0;
    padding: 0;
  }
  #page-attraction #main .container .carousel, #page-attraction #main .container .area {
    width: 100%;
  }
  #page-attraction #main .container .carousel {
    height: 415px;
  }
  #page-attraction #main .container .area {
    padding: 15px 15px;
  }
  #page-attraction #main .container .carousel-imgs {
    overflow: visible;
  }

  #page-booking #bookings, #page-booking #info {
    padding: 0px 15px;
  }
  #page-booking #bookings .container, #page-booking #info .container {
    padding: 0;
  }
  #page-booking #bookings .title {
    left: 0;
  }
  #page-booking #bookings .booking {
    display: block;
  }
  #page-booking #bookings .booking img.attraction {
    width: 100%;
    margin-bottom: 20px;
  }
  #page-booking #bookings .info {
    padding: 0;
  }
  #page-booking #bookings .delete {
    top: calc(100% - 30px);
  }
  #page-booking #info .container {
    padding-bottom: 40px;
  }
  #page-booking #info .container:last-child {
    padding-bottom: 0px;
  }
  #page-booking #info .submit {
    right: 0;
  }

  #page-thankyou #order .container .trips .trip {
    display: block;
    text-align: left;
  }
  #page-thankyou #order .container .trips .trip img {
    margin-bottom: 20px;
  }
  #page-thankyou #order .container .trips .trip .info {
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  #navbar .container .navbar_options .navbar_option {
    padding: 0;
    margin-right: 10px;
  }
  #navbar .container .navbar_hello {
    display: none;
  }

  #page-index #main .container .content {
    display: flex;
    justify-content: flex-start;
    gap: 25px 25px;
    flex-wrap: wrap;
  }
  #page-index #main .container .content .block {
    width: calc(((100% - (1 - 1) * 25px)) / 1);
  }
}
@media screen and (max-width: 360px) {
  #page-index #navbar .container {
    padding-right: 0px;
  }

  #page-attraction .psuedo {
    height: 94px;
  }
  #page-attraction #main .container .carousel {
    height: 360px;
  }
}
#navbar {
  z-index: 100;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100vw;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .navbar_title {
  font-size: 30px;
  font-weight: 700;
  color: #448899;
  min-width: 150px;
}
#navbar .navbar_options {
  display: flex;
}
#navbar .navbar_options .navbar_option {
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  min-width: 70px;
}
#navbar .navbar_options .navbar_option.dashboard a {
  color: #000;
}
#navbar .navbar_options .navbar_option.inactive {
  display: none;
}
#navbar .navbar_options .navbar_option:hover {
  color: #448899;
}
#navbar .navbar_options .navbar_option:hover a {
  color: #448899;
}
#navbar .navbar_options .navbar_hello {
  color: #757575;
  font-weight: 500;
  padding: 10px;
}
#navbar a {
  text-decoration: none;
  color: #448899;
}

#footer {
  width: 100%;
  background-color: #757575;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer_content {
  font-weight: 700;
  color: white;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: none;
}

.box_container {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 340px;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.45, -0.6, 0, 0.745);
  transform: translate(-50%, -200%);
  z-index: 220;
}
.box_container #box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}
.box_container #box::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
.box_container .box_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #666;
  padding: 15px;
}
.box_container form * {
  display: block;
}
.box_container input {
  width: 310px;
  height: 47px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.box_container input[type=text], .box_container input[type=password] {
  border: 1px solid #CCCCCC;
  color: #757575;
  padding: 15px;
  font-weight: 500;
}
.box_container input[type=text]::placeholder, .box_container input[type=password]::placeholder {
  color: #757575;
}
.box_container input[type=submit] {
  margin: 0 auto;
  color: white;
  background: #448899;
  cursor: pointer;
}
.box_container .box_hint {
  color: #666;
  font-weight: 500;
  padding: 15px;
  padding-bottom: 0px;
}
.box_container .box_hint span {
  cursor: pointer;
}
.box_container .box_hint span:hover {
  color: #448899;
}
.box_container .sign_status {
  padding: 10px;
}
.box_container .sign_status.success {
  color: green;
}
.box_container .sign_status.error {
  color: red;
}
.box_container .box_cross {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}
.box_container #box.inactive {
  display: none;
}

.filter.active {
  display: block;
}

.box_container.active {
  transition-timing-function: cubic-bezier(0.855, 0.235, 0.385, 1.65);
  transform: translate(-50%, 0%);
}

#loading {
  position: absolute;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #448899;
  background-color: white;
  font-size: 2rem;
  font-weight: 700;
  z-index: 999;
  transition: 0.8s;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  transform: translateY(0);
}
#loading.bounce span:nth-child(1) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 0.2s;
}
#loading.bounce span:nth-child(2) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 0.4s;
}
#loading.bounce span:nth-child(3) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 0.6s;
}
#loading.bounce span:nth-child(4) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 0.8s;
}
#loading.bounce span:nth-child(5) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 1s;
}
#loading.bounce span:nth-child(6) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 1.2s;
}
#loading.bounce span:nth-child(7) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 1.4s;
}
#loading.bounce span:nth-child(8) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 1.6s;
}
#loading.bounce span:nth-child(9) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 1.8s;
}
#loading.bounce span:nth-child(10) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 2s;
}
#loading.bounce span:nth-child(11) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 2.2s;
}
#loading.bounce span:nth-child(12) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 2.4s;
}
#loading.bounce span:nth-child(13) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 2.6s;
}
#loading.bounce span:nth-child(14) {
  animation: bounce 0.2s cubic-bezier(0.05, 0.69, 0.99, 0.42) 2.8s;
}
#loading.active {
  display: flex;
}

* {
  position: relative;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}
* > .container {
  width: min(1200px, 100%);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.psuedo {
  height: 64px;
}

body.disable-scroll {
  overflow: hidden;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 50px 0px;
}
#header * {
  color: #F8F8F8;
}
#header .container {
  height: 200px;
}
#header .container > * {
  margin-bottom: 20px;
}
#header .header_title {
  font-size: 28px;
}
#header .header_subtitle {
  font-size: 1rem;
}
#header .header_bar {
  display: flex;
  height: 46px;
}
#header input {
  width: min(320px, 80%);
  border-radius: 5px 0 0 5px;
  appearance: none;
  border: none;
  color: #757575;
  font-size: 1rem;
  padding-left: 15px;
}
#header input::placeholder {
  font-size: 1rem;
  color: #757575;
  font-weight: 700;
}
#header .header_icon {
  min-width: 50px;
  flex-basis: 60px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #448899;
  height: 46px;
  cursor: pointer;
}

#scroller {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 10px;
}
#scroller .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#scroller .scroll {
  width: calc(100% - 64px - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#scroller .scroll_container {
  overflow: hidden;
  display: flex;
}
#scroller .scroll_scroller {
  white-space: nowrap;
  transition: 0.3s;
}
#scroller .mrt {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 5px 15px;
  color: #666;
}
#scroller .scroll_btn {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  z-index: 10;
}
#scroller .scroll_btn.inactive {
  opacity: 0.3;
  cursor: default;
}
#scroller .scroll_btn.backward {
  transform: translateX(calc(-100% + -10px));
  left: 0;
}
#scroller .scroll_btn.forward {
  transform: translateX(calc(100% + 10px));
  right: 0;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .content {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 25px 25px;
  flex-wrap: wrap;
}
#main .content .block {
  width: calc(((100% - (4 - 1) * 25px)) / 4);
}
#main .status {
  text-align: center;
  color: #757575;
  padding: 20px 0px;
  opacity: 0;
}
#main .status.show {
  opacity: 1;
}
#main .block {
  height: 242px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
#main .block_img {
  height: 80%;
}
#main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#main a {
  position: absolute;
  width: 100%;
  height: 100%;
}
#main .block_info {
  background-color: #fff;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .block_info .mrt, #main .block_info .category, #main .block_info .title {
  padding: 0px 10px;
}
#main .block_info .mrt, #main .block_info .category {
  color: #757575;
}
#main .block_info .title {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 700;
}

#footer {
  background-color: #757575;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer_content {
  font-weight: 700;
  color: white;
}

#scroller .scroll_btn:hover {
  opacity: 1;
}