doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 訂單頁面
    link(rel="stylesheet", href="{{url_for('static', filename='booking.css')}}")
  body 
    #page-booking
      include ./components/nav.pug
      include ./components/sign.pug
      #bookings 
        .container
          .title 您好，待預訂的行程如下：
          .status 目前沒有任何待預訂的行程
          
      #info
        .container
          .title 您的聯絡資訊
          form.contact
            .wrapper
              label(for="") 聯絡姓名：
              input(name="name" value="嗙" required)
            .wrapper
              label(for="") 連絡信箱：
              input(name="email" value="test@admin" required)
            .wrapper
              label(for="") 手機號碼：
              input(name="phone" value="0900000000" required)
            .hint 請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        .container
          .title 信用卡付款資訊
          //- form.pay
          .wrapper
            label 信用卡號：
            .tpfield#card-number
          .wrapper
            label 卡片效期：
            .tpfield#card-expiration-date
          .wrapper
            label 驗證號碼：
            .tpfield#card-ccv
        .container
          .submit
            .total 總價：新台幣 0 元
            .button 確認訂購並付款


      include ./components/footer.pug
  script(src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0") 
  script(src="{{ url_for('static', filename='/scripts/booking.js') }}" type="module")



    