doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 首頁
    link(rel="stylesheet", href="{{url_for('static', filename='index.css')}}")
  body 
    #page-index
      include ./components/nav.pug
      
      #header(
        style="background-image: url({{ url_for('static', filename='imgs/header.png') }})"
        )
        .container
          .header_title 輕鬆享受台北一日悠閒
          .header_subtitle 探索每個角落，體驗城市的深度旅遊行程
          .header_bar
            input(
              type="text" 
              placeholder="輸入景點名稱查詢"
              )
            .header_icon
              img(src="{{ url_for('static', filename='imgs/icon_search.png') }}")
      
      #scroller
        .container
          .scroll
            .scroll_btn.backward(data-direction="backward")
              img(src="{{ url_for('static', filename='imgs/backward.png') }}")
            .scroll_btn.forward(data-direction="forward")
              img(src="{{ url_for('static', filename='imgs/forward.png') }}")
            .scroll_container
              .scroll_scroller
      
      #main
        .container
          .content
          .status 
      
      include ./components/footer.pug
      include ./components/sign.pug
      

  script(src="{{ url_for('static', filename='/scripts/index.js') }}" type="module")
